#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #63db2b;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  body, html {
    background-image: url('');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#videos {
    border: 3px solid greenyellow;
    border-radius: 3px;
    border-radius: 4px;
}

#subscriber {
    
}

#publisher {
    
}
.btn1{
    background-color: #4CAF50;
    color: white;
    padding: 5px 5px;
    border: none;
    cursor: pointer;
    width: 15%;
    height: 5%;
    opacity: 0.9; 
    margin-left: 60%; 
    margin-top: 2px;
    text-align: center;
    font-size: larger;
    box-shadow: 3px 3px 1px grey;
    border-radius: 4px;
  }
  .btn2{
    background-color: #4CAF50;
    color: white;
    padding: 5px 5px;
    border: 10px;
    cursor: pointer;
    margin-top: 2px;
    width: 15%;
    height: 5%;
    opacity: 0.9; 
    text-align: center;
    font-size: larger;
    box-shadow: 3px 3px 1px grey;
    border-radius: 4px;
  }
  .btn1:hover {
    opacity: 1;
  }
  .btn2:hover {
    opacity: 1;
  }
  .head {
    /* The image used */
    background-image: url("");
  
    min-height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
   background-color: ivory;
  }